<div class="page-header">
  <h3>Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Movie</dt>
      <dd>
        <% if @bookmark.movie.present? %>
          <a href="/movies/<%= @bookmark.movie_id %>">
            <%= @bookmark.movie.title %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @bookmark.user.present? %>
          <a href="/users/<%= @bookmark.user_id %>">
            <%= @bookmark.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bookmark.user %>
        <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
